:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 3em;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2b283a;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #f5f2f5;
}

.socials {
  padding: 5px;
}

.icons {
  padding: 3px;
}
